<div class="card mb-4">
  <div class="card-header">
    <input type="text" class="form-control"
    [disabled]="!inEditMode"
    [value]="passInfo.fullname" />
  </div>
  <div class="card-body">
    <!-- <p class="m-0">
            Checkin date :  <span *ngIf="passInfo.checkInDate; else notCheckedIN">{{passInfo.checkInDate | date}}</span> 
                            <ng-template #notCheckedIN><span>Not Check In</span></ng-template>
        </p> -->
    <p class="m-0">
      Checkin date :
      {{passInfo.checkInDate ? (passInfo.checkInDate | date) : 'Not Checked In'}}
    </p>
    <p class="m-0">
        <!-- No Of Children : {{(passInfo.children)!.length > 0 ? (passInfo.children?.length) : '0'}} -->
        No Of Children : {{passInfo.children?.length  || '0'}}
    </p>
  </div>
  <div class="card-footer d-flex justify-content-between" >

    <button class="btn btn-primary" 
    *ngIf="!inEditMode"
    (click)="inEditMode = true"
    >Edit</button>

    <button class="btn btn-primary" 
    *ngIf="inEditMode"
    (click)="inEditMode = false"
    >Done</button>

    <button class="btn btn-danger" (click)="onPassRemove(passInfo.id)">Remove</button>
  </div>
</div>
